.photo_all_screen{
  position: fixed;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  box-sizing: border-box;
}




#photo_all_screen{
  display: none;
}

.photo_all_screen_page{
    display: none;
}

.active_slider{
    display: flex;
}

.gray{
  top: 0;
  left: 0;
  position: fixed;
  background-color: black;
  opacity: 31%;
  z-index: 1000;
  width: 100%;
  height: 100%;
  z-index: 1000;
  cursor: pointer;
}

.photo_all_screen_container{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1100;
  background-color: #EDF5FB;
  padding: 1.5625vw 1.04vw;
}

.photo_all_screen__photo{
  display: flex;
  justify-content: space-between;
}

.big_photo{
  position: relative;
  width: 72.9vw;
  height: 41vw;
  background-color: #636363;
}
.expand{
  position: absolute;
  top:0.5vw;
  right: 4.1vw;
  z-index: 3000;
}

.expand svg{
  width: 1.8vw;
  height: 1.8vw;
  transition: .4s;
  cursor: pointer;
}

.expand svg:hover path{
  stroke: #EC95C7;
}

.mySlides {
  display: none;
}

.like_look{
 width: 72.9vw;
 height: 3.90625vw;
 position: absolute;
 bottom: 0;
 background-color: rgba(150, 149, 149, 0.7);
 word-wrap: break-word;
 color: white;
 font-size: 0.7vw;
 padding: 0.5vw 5vw;
 box-sizing: border-box;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  height: 41vw;
  display: flex;
  align-items: center;
  top: 0;
  width: auto;
  padding: 0.83vw;
  color: white;
  font-weight: bold;
  font-size: 3.125vw;
  transition: 0.6s ease;
  border-radius: 0 0.15625vw 0.15625vw 0;
  user-select: none;
  box-sizing: border-box;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.15625vw 0 0 0.15625vw;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.3);
}

.activate{
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

.show_image{
    display: flex;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.big_photo img{
  object-fit: cover;
  width: 72.9vw;
  height: 41vw;
}

img.openImg{
    width: 100vw;
    height: 48.4375vw;
}

.clicked_biger{
    width: 100vw;
    height: 48.4375vw;
    position: absolute;
    top: 0;
    left: 0;

}

.list_photo{
  height: 41vw;
  box-sizing: border-box;
  overflow-y: scroll;
}

.elem_photo{
  width: 20.8vw;
  height: 11.7vw;
  margin-bottom: 1.04vw;
  background-color: #636363;
  margin-right: 0.26vw;
  cursor: pointer;
}

.elem_photo img{
  object-fit: cover;
  width: 20.8vw;
  height: 11.7vw;
}

.elem_photo:last-child{
  margin: 0;
  background-color: #636363;
}

.photo_all_screen_comment{
  position: relative;
  height: 5.7vw;
  box-sizing: border-box;
  padding-top: 0.78125vw;
  display: flex;
}

.photo_all_screen_comment textarea{
  outline: none;
  border-radius: 0.52vw ;
  border: none;
  background-color: white;
  height: 4.9vw;
  width: 33.8vw;
  resize: none;
  box-sizing: border-box;
  padding: 0.26vw 2.34375vw;
  font-size: 0.83vw;
  font-family: 'Montserrat', sans-serif;
}

.three_point{
  position: absolute;
  top: 1.04vw;
  left: 0.52vw ;
  cursor: pointer;
}

.three_point img{
  width: 1.3vw;
}

.button_comment{
  margin-left: -40px;
  margin-right: 7.8125vw;
  width: 3.90625vw;
  height: 4.95vw;
  box-sizing: border-box;
}

.pink_button{
  display: flex;
  padding-bottom: 0.52vw ;
}

.pink_button img{
  cursor: pointer;
  height: 1.04vw;
  padding: 0 0.26vw;
}

.send_mail img{
  cursor: pointer;
}

.button_comment_list{
  display: flex;
  padding: 0 0 0 1.3vw;
}

.pink_button_comment{
  position: relative;
  cursor: pointer;
  width: 4.6875vw;
  height: 4.6875vw;
  border-radius: 0.52vw ;
  background-color: #EC95C7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.04vw;
  transition: all .5s ease-in-out;
}

.pink_button_comment:hover .title_nav{
  display: flex;
}

.pink_button_comment .title_nav{
  top: -2.6vw;
  left: -30px;
}

.pink_button_comment:hover{
  background-color: #67BADE;
}

.pink_button_comment img{
  height: 1.5625vw;
}

.pink_button_comment:last-child img{
  width: 2.6vw;
  height: auto;
}

.number_and_count_photo{
 color: #206DB4;
 font-size: 1.3vw;
}

.close_icon{
  padding: 0.104vw;
  border-radius: 100%;
  transition: .4s;
  width: 1.61vw;
  height: 1.61vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1500;
}

.close_icon svg{
  width: 1.61vw;
}

.close_icon svg path{
  stroke: #EC95C7;
  transition: .4s;
}

.close_icon svg:hover path{
  stroke: rgb(255, 0, 0);
}

.textarea_block{
  position: relative;
}

.textarea_block svg{
  position: absolute;
}

.textarea_block #smile_svg{
  left: 0.26vw;
  top: 32px;
}

.textarea_block #add_file{
  top: 0.52vw ;
  right: 2.6vw;
}

.textarea_block #photo_circle{
  width: 1.5625vw;
  height: 1.2vw;
  bottom: 0.52vw ;
  right: 2.6vw;
}

img.moeny_icon{
  width: 2.08vw ;
  height: 2.08vw ;
}



::-webkit-scrollbar { width: 0.52vw ; cursor: pointer;}
::-webkit-scrollbar-track {   background-color: #999;}
::-webkit-scrollbar-track-piece { width: 0.36vw ; background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 1.5625vw; width: 0.52vw ; background-color: #206DB4; border-radius: 0.15625vw; cursor: pointer;}
::-webkit-resizer { background-color: #666;}
