<div class="adversting_bar" id="adversting_bar_vue">
   <div class="advirsting_one_block" >
      <div class="banners_container">
         <div  class="block_banner">
            <div class="banner">
               <a :href="link_big_banner">
                  <img :src="get_big()" class="img_baner">
               </a>
            </div>
         </div>
         <div class="block_banner">
            <div class="banner_small">
                  <a :href="link_small_banner">
                     <img :src="get_small()" class="img_baner_small">
                  </a>
            </div>
         </div>
      </div>
   </div>
</div>