<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{% static 'social_network/favicons/favicon.png' %}" type="image/png">
    <link type="text/css" rel="stylesheet" href="{% static 'social_network/css/sign/style_sign.css' %}">
    <script src="{% static 'social_network/js/jquery-3.5.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div class="main_window_sign">
            <div class="line_field main_page">
                {{result}}
            </div>
        <img id="logo" class="main_page" src="{% static 'social_network/icons/sign/logo.png' %}">
        <img id="phone" src="{% static 'social_network/icons/sign/phone.png' %}">
    </div>
    <img class="background_bottom" src="{% static 'social_network/icons/sign/background_bottom.png' %}">
</body>
<script type="text/javascript" src="{% static 'social_network/js/sign/signIn.js' %}"></script>
</html>