<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{% static 'social_network/favicons/favicon.png' %}" type="image/png">
    <link type="text/css" rel="stylesheet" href="{% static 'social_network/css/sign/style_sign.css' %}">
    <script type="text/javascript" src="{% static 'social_network/js/config.js' %}"></script>
    <script src="{% static 'social_network/js/jquery-3.5.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <script type="text/javascript">
        var uid = '{{ uid|escapejs }}';
        var token = '{{ token|escapejs }}';
        localStorage.setItem('uid',uid);
        localStorage.setItem('token',token);
    </script>
    <div class="main_window_sign">
        <div class="registration" id="changePasswordForm">
            <div class="registration_title flex_center">Сброс пароля на<img src="{% static 'social_network/icons/sign/knoknok.png' %}"></div>
            <form @submit.prevent="changePassword">
                <div class="line_field">
                    <p>Пароль:</p>
                    <input id="new_password" v-model="new_password" type="password" name="new_password">
                </div>
                <div class="line_field">
                    <input type="submit" value="ОТПРАВИТЬ">
                </div>
            </form>
        </div>
        <img id="logo" src="{% static 'social_network/icons/sign/logo.png' %}">
        <img id="phone" src="{% static 'social_network/icons/sign/phone.png' %}">
    </div>
    <img class="background_bottom" src="{% static 'social_network/icons/sign/background_bottom.png' %}">
</body>
<script type="text/javascript" src="{% static 'social_network/js/sign/changePassword.js' %}"></script>
</html>