<div class="line_blocking_messages">
    <div class="info_men_blocking_messages">
        <div class="info_men_blocking_messages_avatar">
            <img src="icons/icon.png" alt="">
        </div>
        <div class="info_men_blocking_messages_name">
            <p>Имя</p>
            <div class="info_men_blocking_messages_name_status">
                on-line
            </div>
        </div>
    </div>
    <div class="buttons_blocking_messages">
        <div class="buttons_blocking_messages_button" id="write_mail">
            <img src="icons/write_mail.png" alt="">
            <p>разблокировать
                текстовые сообщения</p>
        </div>
        <div class="buttons_blocking_messages_button blue" id="voice_mail">
            <img src="icons/voice_message.png" alt="">
            <p>разблокировать
                голосовые сообщения</p>
        </div>
    </div>
</div>